h1, h2, h3, h4, h5, h6, p, a, li, button {
  font-family: $fontFamily-sans;
}

h1 {
  font-size: $fontSize-xxxlarge;
  margin-bottom: $scale-2-1;
}

p {
  font-size: $fontSize-copy;
  line-height: 1.5;
  color: $color-base;
}

a { display: inline-block; }
