.box {
  width: 100%;
  padding: $scale-3-4 $scale;
  padding-bottom: $scale-2-1;
  background: rgba( $color-base, 0.98 );
  border: 1px solid $color-base-darker-1;
  z-index: -1;

  p { color: white; }

  &-btn {
    position: absolute;
    left: 0;
    bottom: 12px; // Half button
  }
}
