%buttonBase {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: $fontSize-small;
  letter-spacing: 1px;
  font-weight: 700;
  height: 38px;
  white-space: nowrap;
  font-family: $fontFamily-sans;
  line-height: 1;
}

%buttonInnerBase {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin-top: 1px;
  margin-left: 1px;
  border-radius: 100px;
  padding: 12px $scale-2-1;
}

.btn {
  @extend %buttonBase;
  cursor: pointer;
  text-decoration: none;

  &_inner { @extend %buttonInnerBase; }

  &-small {
    height: 26px;
    font-size: $fontSize-xsmall;
    > * {
      padding: 6px $scale;
      padding-top: 7px;
    }
  }

  &-svg {
    height: 38px;
    position: relative;
    display: inline-block;

    img {
      height: 100%;
      &:not(:first-child) {
        position: absolute;
        left: 0;
        top: 0;
        &:active { display: none; }
      }
    }

    &-small { height: 26px; }
  }

  &-primary {
    background-color: $color-primary;
    background: linear-gradient(to bottom, $color-primary-lighter-1 0%, $color-primary-darker-1 100%);
    > * { color: white; }

    & .btn_inner {
      background: $color-primary;
      background: linear-gradient(to bottom, $color-primary-lighter-2 0%, $color-primary 100%);
      &:active,
      &.active { background: linear-gradient(to top, $color-primary-lighter-2 0%, $color-primary 100%); }
    }
  }

  &-base {
    background-color: $color-base;
    background: linear-gradient(to bottom, $color-base-lighter-1 0%, $color-base-darker-1 100%);
    > * { color: white; }

    & .btn_inner {
      background: $color-base;
      background: linear-gradient(to bottom, $color-base-lighter-2 0%, $color-base 100%);
      &:active,
      &.active { background: linear-gradient(to top, $color-base-lighter-2 0%, $color-base 100%); }
    }
  }

  &-light {
    background-color: $color-base-lighter-8;
    background: linear-gradient(to bottom, $color-base-lighter-7 0%, $color-base-lighter-5 100%);
    > * { color: $color-base; }

    & .btn_inner {
      background: $color-base-lighter-7;
      background: linear-gradient(to bottom, $color-base-lighter-8 0%, $color-base-lighter-6 100%);
      &:active,
      &.active { background: linear-gradient(to top, $color-base-lighter-8 0%, $color-base-lighter-6 100%); }
    }
  }

  &-dismiss {
    background: $color-dismiss;
    background: linear-gradient(to bottom, $color-dismiss-lighter-1 0%, $color-dismiss-darker-1 100%);
    > * { color: white; }

    & .btn_inner {
      background: $color-dismiss-darker-1;
      background: linear-gradient(to bottom, $color-dismiss-lighter-2 0%, $color-dismiss 100%);
      &:active,
      &.active { background: linear-gradient(to top, $color-dismiss-lighter-2 0%, $color-dismiss 100%); }
    }
  }

  &-control {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $color-base-lighter-8;
    background: linear-gradient(to bottom, $color-base-lighter-7 0%, $color-base-lighter-5 100%);

    &-dark {
      background: $color-base;
      background: linear-gradient(to bottom, $color-base-lighter-1 0%, $color-base-darker-1 100%);
    }

    &-primary {
      background: $color-primary;
      background: linear-gradient(to bottom, $color-primary-lighter-1 0%, $color-primary-darker-1 100%);
    }

    &-dismiss {
      background: $color-dismiss;
      background: linear-gradient(to bottom, $color-dismiss-lighter-1 0%, $color-dismiss-darker-1 100%);
    }

    &_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      padding-left: 2px;
      border-radius: inherit;
      background: $color-base-lighter-7;
      background: linear-gradient(to bottom, $color-base-lighter-8 0%, $color-base-lighter-6 100%);

      &:active,
      &.active { background: linear-gradient(to top, $color-base-lighter-8 0%, $color-base-lighter-6 100%); }

      &-dark {
        background: $color-base-darker-1;
        background: linear-gradient(to bottom, $color-base-lighter-2 0%, $color-base 100%);

        &:active,
        &.active { background: linear-gradient(to top, $color-base-lighter-2 0%, $color-base 100%); }
      }

      &-primary {
        background: $color-primary-darker-1;
        background: linear-gradient(to bottom, $color-primary-lighter-2 0%, $color-primary 100%);

        &:active,
        &.active { background: linear-gradient(to top, $color-primary-lighter-2 0%, $color-primary 100%); }
      }

      &-dismiss {
        background: $color-dismiss-darker-1;
        background: linear-gradient(to bottom, $color-dismiss-lighter-2 0%, $color-dismiss 100%);

        &:active,
        &.active { background: linear-gradient(to top, $color-dismiss-lighter-2 0%, $color-dismiss 100%); }
      }
    }
  }

  &Group {
    display: flex;
    justify-content: center;
    align-items: center;
    &-vertical { flex-direction: column; }
  }
}

.btnGroupWrap {
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: $color-base-lighter-7;
  padding: $scale;
  @include breakpoint( 'desktop' ) {
    border-top: 1px solid $color-base-lighter-6;
    position: fixed !important;
  }
}
