.contextLine {
  color: $color-base-lighter-2;
  font-weight: 500;
  text-transform: uppercase;
  font-size: $fontSize-xsmall;
  font-family: $fontFamily-system;
  letter-spacing: 0.4px;
  display: block;
}
