.contextLine {
  color: $color-base-lighter-3;
  font-weight: 300;
  text-transform: uppercase;
  font-size: $fontSize-xsmall;
  font-family: $fontFamily-system;
  letter-spacing: 0.4px;
  display: block;
}
