.controlBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-base-lighter-7;
  padding: $scale-2-1 0 $scale-2-1;
  border-top: 1px solid $color-base-lighter-6;
  z-index: $zindex-controlBar;

  @include breakpoint( 'mobile' ) { padding: $scale 0 $scale; }

  &_boxExplanation {
    position: absolute;
    top: 0px;
    transform: translateY(-100%);

    @include breakpoint( 'widescreen' ) {
      position: relative;
      top: -$scale-2-1;
    }
  }

  &_breadcrumbWrap {
    width: 100%;
    background-color: rgba( $color-base-lighter-6, 0.9 );
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }

  &_breadcrumb {
    list-style: none;
    font-size: $fontSize-xsmall;
    padding-top: $scale-1-4 + 2px;
    padding-bottom: $scale-1-4;

    li {
      display: inline-block;
      margin: $scale-1-8 0;
    }

    li, a { font-family: $fontFamily-system; }
  }

  &_buttons {
    display: flex;
    justify-content: flex-end;

    @include breakpoint( 'desktop' ) { justify-content: flex-end; }
    @include breakpoint( 'belowTablet' ) { justify-content: center; }

    &-SVG {
      align-items: flex-start;

      & .btn-control-SVG {
        visibility: visible;
        position: relative;
        min-width: 40px;

        &_inner {
          left: 0px;
          top: 0px;
          position: absolute;
        }
      }
    }

    & .btn-control { margin-bottom: $scale-1-2; }
  }

  &_time {
    position: absolute;
    height: 100%;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    font-family: $fontFamily-system;

    @include breakpoint( 'belowTablet' ) {
      max-width: 40px;
      position: fixed;
      height: auto;
      font-size: 12px;
      bottom: $scale;
      right: $scale-2-1;
    }

    @include breakpoint( 'mobile' ) {
      bottom: $scale-1-2;
      right: $scale;
    }
  }
}
