.controlBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-base-lighter-7;
  padding: $scale-2-1 0 $scale-2-1;
  border-top: 1px solid $color-base-lighter-6;
  z-index: $zindex-controlBar;

  @include breakpoint( 'tablet' ) { padding: $scale-2-1 0 $scale-2-1; }

  &_breadcrumb {
    list-style: none;
    font-size: $fontSize-small;

    @include breakpoint( 'tablet' ) { display: none; }

    li {
      display: inline-block;
      margin-bottom: $scale-1-4;
    }

    li, a { font-family: $fontFamily-system; }
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &-SVG {
      align-items: flex-start;

      & .btn-control-SVG {
        visibility: visible;
        position: relative;
        min-width: 40px;

        &_inner {
          left: 0px;
          top: 0px;
          position: absolute;
        }
      }
    }

    & .btn-control { margin-bottom: $scale-1-2; }
  }

  &_time {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 40px;
    position: absolute;
    right: $scale-2-1;
    bottom: 0;
    font-size: $fontSize-small;
    font-weight: 600;
    font-family: $fontFamily-system;

    @include breakpoint( 'mobile' ) {
      height: auto;
      bottom: $scale;
      right: $scale;
    }
  }
}
