.headline {
  font-weight: 700;
  font-size: $fontSize-xxxlarge;
  margin-bottom: $scale-1-8;

  &-small { font-size: $fontSize-xxlarge; }

  span { font-weight: 100; } // Secondary info in a headline
}
