.image {
  &-coursesAndTests {
    z-index: $zindex-testImage;
    @extend .width-fill-right;
    position: absolute;
    @include breakpoint( 'desktop' ) { width: calc( 100% + #{$scale-2-1} ) !important; }
    @include breakpoint( 'belowDesktop' ) { width: calc( 100% + #{$scale-12-1} ) !important; position: relative; }
    @include breakpoint( 'belowTablet' ) { width: calc( 100% + #{$scale-4-1} ) !important; position: relative; }
    @include breakpoint( 'widescreen' ) { width: calc( 100% + #{$scale-6-1} ) !important; }

    &_image { width: 100%; }

    &-smallScreenFriendly {
      @include breakpoint( 'belowDesktop' ) {
        width: auto !important; // Counter styling image-coursesAndTests
        margin: auto !important;
        position: fixed;
      }

      &_image {
        @include breakpoint( 'belowDesktop' ) {
          display: block;
          position: absolute;
          width: calc( 100vw - #{$scale-2-1} ) !important;
          transform: scale3d(0.5, 0.5, 0.5);
          transition: transform 200ms ease-out;
          &.expanded { transform: scale3d(1, 1, 1); }
        }
      }

      #btnExpandImageDesktop {
        @include breakpoint( 'belowDesktop' ) { display: none; }
      }

      #btnExpandImage {
        position: absolute;
        @include breakpoint( 'aboveTablet' ) { display: none; }
        & #iconShrink { width: 16px; height: 16px; }
      }

      @include breakpoint( 'belowDesktop' ) {
        &.bottomRight {
          right: $scale; left: auto; top: auto; bottom: calc( 138px + #{$scale} );
          @include breakpoint( 'custom', '456px' ) { bottom: calc( 154px + #{$scale} ); }
          img { right: 0; left: auto; bottom: 0; top: auto; transform-origin: bottom right; }
          .btn { right: $scale-1-2; left: auto; bottom: $scale-1-2; top: auto; }
        }

        &.bottomLeft {
          right: auto; left: $scale; top: auto; bottom: calc( 138px + #{$scale} );
          @include breakpoint( 'custom', '456px' ) { bottom: calc( 154px + #{$scale} ); }
          img { right: auto; left: 0; bottom: 0; top: auto; transform-origin: bottom left; }
          .btn { right: auto; left: $scale-1-2; bottom: $scale-1-2; top: auto; }
        }

        &.topRight {
          right: $scale; left: auto; top: $scale; bottom: auto;
          img { right: 0; left: auto; bottom: auto; top: 0; transform-origin: top right; }
          .btn { right: $scale-1-2; left: auto; bottom: auto; top: $scale-1-2; }
        }

        &.topLeft {
          right: auto; left: $scale; top: $scale; bottom: auto;
          img { right: auto; left: 0; bottom: auto; top: 0; transform-origin: top left; }
          .btn { right: auto; left: $scale-1-2; bottom: auto; top: $scale-1-2; }
        }
      }
    }
  }
}

$controlBarAndMargin: $scale-2-1 + 138px;

#dialogExpandedImageDesktop {
  @include breakpoint( 'belowDesktop' ) { display: none; }
  z-index: $zindex-dialogExpandedImageDesktop;
  #expandedImageDesktopWrap {
    position: absolute;
    top: $scale;
    left: $scale-5-1;
    height: calc( 100vh - #{$controlBarAndMargin} );
    width: calc( 100vw - 232px );
    overflow: hidden;
    img { 
      position: absolute;
      min-width: 100%;
      min-height: 100%; 
      left: 50%; 
      top: 50%;
      transform: translate3d(-50%,-50%,0)
    }
  }
}
