.leftRightMarkers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: calc( -25px - #{$scale} ); // First number = marker height

  @include breakpoint( 'belowDesktop' ) { display: none; }

  &_marker {
    &-left { margin-left: $scale; }
    &-right { margin-right: $scale; }
  }

  &-imageTop {
    position: absolute;
    top: $scale;
  }

  &-mobile {
    background-color: $color-base !important;
    display: none;
    @include breakpoint( 'belowDesktop' ) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: white;
      margin-bottom: 1px;
      top: 0;
      & .label {
        padding-top: 10px;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        background-color: transparent !important;
        border-top-width: 0 !important;
        &:first-child { border-left-width: 0 !important; }
        &:last-child { border-right-width: 0 !important; }
      }
      & .btn {
        margin-top: 4px;
      }
    }
  }
}
