.message {
  @extend .label;
  position: fixed;
  top: 0px;
  left: -1px;
  z-index: $zindex-message;
  text-transform: none;
  font-size: $fontSize-base;
  font-weight: 400;
  text-align: center;
  min-width: 100vw; // iOS Safari
  width: calc( 100vw + 2px );
  padding: 22px $scale-2-1; // Adjusted to have same amount of space above and below icon-cross in dialog
  transform: translate3d( 0, -100px, 0 );
  transition: transform 600ms ease-out;

  &-base { @extend .label-base; }
  &-success { @extend .label-primary; }
  &-warning { @extend .label-warning; }
  &-error { @extend .label-dismiss; }

  &-showing { transform: translate3d( 0, -1px, 0 ); }
}
