.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10000;

  &-done { .progressBar_step { background-color: $color-primary; } }

  $stepHeight: 8px;

  &_step {
    height: $stepHeight;
    position: relative;
    flex: 1;
    background-color: $color-base;
    margin-right: 2px;
    transition: transform 300ms ease-out;
    transform: translate3d(0, 0, 0);

    @keyframes toFullWidth {
      0%   { transform: scale3d(0,1,1); }
      100% { transform: scale3d(1,1,1); }
    }

    .completion {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      transform-origin: left;
      transform: scale3d(0,1,1);
      animation: none;
      animation-play-state: running;
    }

    &:last-child { margin-right: 0; }

    &.done {
      background-color: $color-primary;
      & .thumbnail-withText {
        border-color: $color-primary;
        &:after { background-color: rgba($color-primary, 0.5); }
      }
    }

    &.active { transform: translate3d(0, $stepHeight, 0); }

    & .thumbnail-withText {
      position: absolute;
      transform: translateY(-100%);
      border: 8px solid $color-base;
      border-bottom: 0;
    }

    &:nth-last-child(-n+3) {
      & .thumbnail-withText {
        right: 0;
      }
    }
  }

  &.firstVisit {

    $firstStepHeight: 40px;
    $translateAmount: $firstStepHeight - $stepHeight;
    @keyframes shrinkStep {
      from {
        transform: translate3d(0, 0, 0);
        box-shadow: 0px 0px 0px 10000px rgba( $color-base-lighter-7, 0.8 );
      }
      to {
        transform: translate3d(0, $translateAmount, 0);
        box-shadow: none;
      }
    }

    & .progressBar_step:first-child {
      height: $firstStepHeight;
      transform: translate3d(0, 0, 0);
      box-shadow: 0px 0px 0px 10000px rgba( $color-base-lighter-7, 0.8 );
      animation: shrinkStep 0.25s 5s ease-out forwards;
      &:after {
        content: 'Hover og følg din fremgang på disse trin';
        position: absolute;
        top: $stepHeight;
        left: calc( 100% + #{$scale-1-4} );
        max-width: 100%;
        font-size: $fontSize-small;
        font-weight: bold;
        color: $color-base;
        background-color: transparent;
        white-space: nowrap;
      }
    }

  }
}
