.statements {
  &-expandedImage {
    position: absolute; 
    right: 0; 
    top: 0;
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 200px;

    .statement .answers {
      li {
        min-width: 36px;
        height: 36px;
      }
      label {
        padding-top: 12px;
        font-size: $fontSize-xsmall;
      }
    }

    &-mobile {
      background-color: rgba($color-base,.8);
      padding: 1rem;
      width: 112px;
      height: 234px;
      top: calc(100vw * 0.5);
      @include breakpoint('custom', '375px', true) { top: calc(100vw * 0.7); }
      left: 1rem;
      right: auto;
      .statement {
        min-height: 42px;
        &:not(:first-child) { margin-top: 12px; }
        .answers {
          left: 0;
          margin: 0;
        }
      }
    }
  }
}

.statement {
  position: relative;

  @include breakpoint( 'belowTablet' ) { min-height: 42px; }

  &:not(:first-child) {
    margin-top: $scale-2-1;
    @include breakpoint( 'belowTablet' ) { margin-top: 12px; }
  }

  &_text {
    @include breakpoint( 'belowTablet' ) {
      padding-left: 96px;
      font-size: 12px;
    }
  }

  .answers {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 100%;
    margin-top: 2px;
    margin-right: $scale-2-1;
    list-style: none;

    @include breakpoint( 'belowTablet' ) { right: auto; }
    @include breakpoint( 'desktop' ) { margin-right: $scale; }

    & li {
      position: relative;
      min-width: 24px;
      height: 24px;

      @include breakpoint( 'belowTablet' ) {
        min-width: 36px;
        height: 36px;
      }

      &:first-child { margin-right: $scale-1-2; }

      input[type="radio"] {
        position: absolute;
        visibility: hidden;

        &:checked ~ .check {
          background: $color-base;
          transition: background 100ms ease-in;
        }
        &:checked ~ label {
          color: white;
          &:hover { background-color: transparent; }
        }
      }

      label {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-top: 9px;
        line-height: 1;
        color: $color-base-lighter-2;
        font-size: $fontSize-xxxsmall;
        font-family: $fontFamily-system;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 100ms ease-out;

        &:hover {
          color: $color-base;
          background-color: $color-base-lighter-6;
        }

        @include breakpoint( 'belowTablet' ) {
          padding-top: 12px;
          font-size: $fontSize-xxsmall;
        }
      }

      .check {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $color-base-lighter-8;
      }
    }
  }

}
