table {
  padding: $scale-1-2;
  background-color: white;
  border: 1px solid $color-base-lighter-6;

  td { padding: $scale-1-4 $scale-1-2; }

  &.light {
    background-color: rgba( $color-base-lighter-7, 0.98 );
    border: 1px solid $color-base-lighter-5;
  }
}
